{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1><i class="fi-torsos-female-male"></i> {%  trans "Informations de l\'utilisateur" %} {{ object.username }}</h1>
    <div class="panel panel-group panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-fw fa-id-card"></i> {% trans 'Identité' %}</h4>
        </div>
        <div class="panel-body">
            <b>Nom d'utilisateur</b> : {{ object.username }}<br/>
            <b>Nom complet</b>: {{ object.first_name }} {{ object.last_name }}<br/>
            <b>email</b>: {{ object.email }}<br/>
        </div>
    </div>
    {% if object.is_superuser or object.is_resp or object.edit_all_data or object.access_all_data %}
        <div class="panel panel-group panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-fw fa-unlock"></i> {% trans 'Droits sur la base' %}</h4>
            </div>
            <div class="panel-body">
                <b>Superutilisateur</b> : {% if object.is_superuser %}Oui{% else %}Non{% endif %}<br/>
                <b>Responsable de territoire</b> : {% if object.is_resp %}Oui (
                {% for territory in object.resp_territory.all %}
                    {{ territory.name }}{% endfor %}){% else %}Non{% endif %}<br/>
                <b>Accès à toutes les données</b>: {% if object.access_all_data %}Oui{% else %}Non{% endif %}<br/>
                <b>Edition de toutes les données</b>: {% if object.edit_all_data %}Oui{% else %}Non{% endif %}<br/>
            </div>
        </div>
    {% endif %}
{% endblock %}