{% load i18n %}
{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="/"><img src="{% static 'img/dbchiro_main_logo.svg' %}" width="30"> dbChiro<sub>[web]</sub></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-pie-chart" aria-hidden="true"></i> {% trans 'Synthèse' %} <span
                    class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'synthesis:global_contrib' %}"><i class="fa fa-fw fa-line-chart"
                                                                      aria-hidden="true"></i>
                    {% trans 'Contributions' %}</a>
                </li>
            </ul>
        </li>
        {% if user.is_authenticated %}
            {# Début du menu des Observations #}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-fw fa-eye"></i> {% trans 'Observations' %} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">
                        <i class="fa fa-fw fa-map"></i> {% trans 'Localités' %}</a>
                    </li>
                    <li><a href="{% url 'sights:place_search' %}"><i class="fa fa-fw fa-search"></i>
                        {% trans 'Rechercher' %}<span
                                class="hide-for-small-only"> {% trans 'des localités' %}</span></a></li>
                    <li><a href="{% url 'sights:place_map' %}"><i class="fa fa-fw fa-map"></i> {% trans 'Carte' %}<span
                            class="hide-for-small-only"> {% trans 'des localités' %}</span></a></li>
                    <li><a href="{% url 'sights:place_create' %}"><i class="fa fa-fw fa-map-marker"></i>
                        {% trans 'Nouvelle localité' %}</a></li>
                    </li>

                    {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
                        <li class="dropdown-header">
                            <i class="fa fa-fw fa-eye"></i> {% trans 'Observations' %}
                        </li>
                        <li>
                            <a href="{% url 'sights:sighting_list' %}"><i
                                    class="fa fa-fw fa-list"></i> {% trans 'Liste des observations' %}</a>
                        </li>
                    {% endif %}

                </ul>
            </li>
            {# Fin du menu des Observations #}
            {# Début du menu de gestion #}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-paperclip"></i>
                    {% trans 'Gestion' %}<span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
                        <li class="dropdown-header">
                            <i class="fa fa-fw fa-users"
                               aria-hidden="true"></i> {% trans 'Observateurs' %}
                        </li>
                        <li><a href="{% url 'accounts:user_search' %}"><i
                                class="fa fa-fw fa-list-alt"></i> {% trans 'Liste des observateurs' %}</a>
                        </li>
                        <li><a href="{% url 'accounts:user_create' %}"><i class="fa fa-fw fa-user-plus"></i>
                            {% trans 'Nouvel observateur' %}</a>
                        </li>
                        <li class="dropdown-header">
                            <i class="fa fa-fw fa-newspaper-o" aria-hidden="true"></i>
                            {% trans 'Actualités' %}</a></li>
                        <li><a href="{% url 'blog:actu_create' %}"><i
                                class="fa fa-fw fa-plus"></i> {% trans 'Nouvel article' %}</a>
                        </li>
                    {% endif %}
                    <li class="dropdown-header">
                        <i class="fa fa-fw fa-folder-open-o"></i> {% trans 'Etudes' %}</a>
                    </li>
                    <li><a href="{% url 'management:study_list' %}"><i class="fa fa-fw fa-list"></i>
                        {% trans 'Liste des études' %}</a></li>
                    <li><a href="{% url 'management:study_create' %}"><i class="fa fa-fw fa-plus"></i>
                        {% trans 'Nouvelle étude' %}</a></li>
                    <li class="dropdown-header">
                        <i class="fa fa-fw fa-podcast"></i> {% trans 'Emetteurs télémétriques' %}</a>
                    </li>
                    <li><a href="{% url 'management:transmitter_list' %}"><i
                            class="fa fa-fw fa-list"></i> {% trans 'Liste des émetteurs' %}</span></a>
                    </li>
                    <li><a href="{% url 'management:transmitter_create' %}"><i
                            class="fa fa-fw fa-plus"></i>
                        {% trans 'Nouvel émetteur' %}</a>
                    </li>
                    </li>
                    <li class="dropdown-header">
                        <i class="fa fa-fw fa-gavel"></i> {% trans 'Arrêtés dérogatoires' %}
                    <li><a href="{% url 'management:catchauth_list' %}"><i
                            class="fa fa-fw fa-list"></i> {% trans 'Liste des arrêtés' %}</a>
                    </li>
                    <li><a href="{% url 'management:catchauth_create' %}"><i
                            class="fa fa-fw fa-plus"></i> {% trans 'Nouvel arrêté' %}</a>
                    </li>
                    </li>
                </ul>
            </li>
            {# Fin du menu de gestion #}
            {# Début du menu du compte utilisateur #}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user-circle-o"></i>
                    {% trans 'Mon compte' %}
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{% url 'accounts:myprofile_detail' %}"><i class="fa fa-fw fa-drivers-license-o"></i>
                            {% trans 'Mon profile' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:myprofile_update' %}"><i class="fa fa-fw fa-pencil-square-o"></i>
                            {% trans 'Modifier mon profile' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:change_password' %}"><i class="fa fa-fw fa-key"></i>
                            {% trans 'Modifier mon mot de passe' %}</a>
                    </li>
                    <li class="dropdown-header">Mes données</li>
                    <li><a href="{% url 'sights:place_mylist' %}"><i class="fa fa-fw fa-map-marker"></i>
                        {% trans 'Mes localités' %}</a></li>
                    <li><a href="{% url 'sights:session_mylist' %}"><i class="fa fa-fw fa-calendar-o"></i>
                        {% trans 'Mes sessions' %}</a></li>
                    <li><a href="{% url 'sights:sighting_mylist' %}"><i
                            class="fa fa-fw fa-eye"></i> {% trans 'Mes observations' %}</a></li>
                </ul>
            </li>
            {# Fin du menu du compte utilisateur #}
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}"><i
                        class="fa fa-fw fa-cogs"></i> {% trans 'Administration du site' %}
                </a></li>
            {% endif %}
        {% else %}
            <li>
                <a href="{% url 'password_reset' %}"><i class="fa fa-fw fa-key" aria-hidden="true"
                                                        alt="Mot de passe oublié"></i> {% trans 'Mot de passe oublié ?' %}
                </a>
            </li>
            <li>
                <a href="{% url 'login' %}"><i class="fa fa-fw fa-sign-in" aria-hidden="true"
                                               alt="Se connecter"></i>
                    {% trans 'Se connecter' %}</a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">
                    <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> {% trans 'Se déconnecter' %}
                    ({{ user.username }})
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
<button type="button" class="hamburger is-closed" data-toggle="offcanvas" title="Menu">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
</button>