{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    <div class="row" style="text-align:center;font-size:2rem;">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i class="{{ placesicon }}"></i> {{ placescount }} {{ placestext }}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i class="{{ sessionsicon }}"></i> {{ sessionscount }} {{ sessionstext }}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i class="{{ sightingsicon }}"></i> {{ sightingscount }} {{ sightingstext }}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i class="{{ observersicon }}"></i> {{ observerscount }} {{ observerstext }}
                </div>
            </div>
        </div>
    </div>
    <h1>
        <i class="{{ icon | safe }}"></i> {{ title }}
    </h1>
    <div class="row">
        <div class="col-lg-12">
            {% for object in object_list %}
                <div class="panel panel-default panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="{% url 'blog:actu_detail' pk=object.id_actu %}"><i
                                class="fi-align-left"></i> {{ object.title }}</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            <small>
                                {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
                                    <a href="{% url 'blog:actu_update' pk=object.id_actu %}"
                                       class="btn btn-xs btn-primary"><i
                                            class="fa fa-fw fa-pencil-square-o"></i></a> {% endif %}
                                créé le <b>{{ object.timestamp_create }}</b>
                                par <b>{{ object.created_by }}</b>
                                {% if object.updated_by %}| mis à jour le {{ object.timestamp_update }} par
                                    {{ object.updated_by }}{% endif %}
                            </small>
                        </p>
                        <div class="well well-sm">{{ object.briefdescr|safe }}</div>
                        <p class="text-right"><a href="{% url 'blog:actu_detail' pk=object.id_actu %}"
                                                 class="btn btn-sm btn-primary">Lire la suite
                            ...</a></p>
                    </div>
                </div>
            {% empty %}
                <div class="well">
                    <div class="columns callout">Aucune actualité pour le moment.</div>
                </div>
            {% endfor %}

            {% if is_paginated %}
                <nav aria-label="table_navigation" class="pull-right"
                     style="margin-top:5px;margin-bottom:5px">
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                            {% block pagination.previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{% url 'blog:actu_list' page_obj.previous_page_number %}">Previous</a>
                                </li>
                            {% endblock pagination.previous %}
                        {% endif %}
                        {% if table.page.has_previous or table.page.has_next %}
                            {% block pagination.cardinality %}
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        {% blocktrans with page_obj.number as current and page_obj.paginator.num_pages as total %}
                                            Page
                                            {{ current }} of {{ total }}{% endblocktrans %}</a>
                                </li>
                            {% endblock pagination.cardinality %}
                        {% endif %}
                        {% if page_obj.has_next %}
                            {% block pagination.next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{% url 'blog:actu_list' page_obj.next_page_number %}">Next</a>
                                </li>
                            {% endblock pagination.next %}
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
